/* Box-sizing to left easer the layout */
html {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* Remove the default margins and paddings all of elements. */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure, hr,
fieldset, legend, section, article, aside,
details, figcaption, footer, header, menu, nav,
main, picture, summary {
  margin: 0;
  padding: 0;
}

/* Reset styles of list*/
ol, ul {
  list-style: none;
}

/* Remove styles links default and use inherit of color.*/
a {
  text-decoration: none;
  color: inherit;
}

/* Images reponsibles and guarantee that not overtaken the container.*/
img, video, svg, iframe, object {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove borders and backgrounds default of buttons and inputs.*/
button, select, textarea {
  background: none;
  border: none;
  font: inherit; /* Inherit the font of body or of father element inherit. */
  color: inherit; /* Inherit color of body or of father element. */
  cursor: pointer; /* Cursor pointer to element interactive. */
  outline: none; /* Remove outline on focus (warn: its con have some impact on accessibility, consider focus with CSS) */
}

/* Adjust specify to textarea*/
textarea {
  resize: vertical; /* Permit only vertical resizing*/
}

/* Styles for HTML5 reset*/
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

