.pagination_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding-top: 1rem;
}

.pagination_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem;
    width: 40%;
}